/* General Styling */
:root {
    --primary-color: #d0d0d0; /* Neon Cyan */
    --secondary-color: #8c00ff; /* Neon Purple */
    --background-dark: #8e4ead; /* Deep space blue */
    --surface-dark: rgba(35, 35, 53, 0.7); /* Translucent dark surface */
    --text-light: #c4c4c4;
    --border-soft: rgba(255, 255, 255, 0.1);
    --shadow-soft: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    --glass-effect: saturate(180%) blur(10px);
}

body {
    background: var(--background-dark);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(30, 30, 46, 0.6);
    background-blend-mode: overlay;
}

.login-container {
    padding: 2rem;;
    width: 35%;
    height: 55%;
}

.login-box {
    background-color: var(--surface-dark);
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-soft);
    border: 1px solid var(--border-soft);
    backdrop-filter: var(--glass-effect);
    text-align: center;
}

.login-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.login-subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #a4a4a4;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group input {
    width: 100%;
    padding: 1rem 1.25rem;
    border: 1px solid var(--border-soft);
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.05);
    color: var(--text-light);
    font-size: 1rem;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.input-group input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(0, 224, 255, 0.2);
}

.login-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: var(--glass-effect);
}

.login-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px var(--primary-color);
}

.error-message {
    color: #ff6b6b;
    font-size: 0.9rem;
    margin-top: 1rem;
    height: 20px;
}